@model Catalogo.App.Models.Categoria

@{
    ViewBag.Title = "Cadastro de Categorias";
    @Styles.Render("~/Content/Categoria/css");
}

<fieldset class="fieldset-titulo">
    <legend>Cadastro de Categorias</legend>
</fieldset>

<div class="div-categoria">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <div class="editor-label">
            @Html.Label("ID Categoria")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idCat)
            @Html.ValidationMessageFor(model => model.idCat)
        </div>
        <br />
        <div class="editor-label">
            @Html.Label("Nome Categoria")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nomeCat)
            @Html.ValidationMessageFor(model => model.nomeCat)
        </div>

        <p class="btn btn-cadastrar">
            <input type="submit" value="Cadastrar" />
        </p>
    }
</div>
